<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Nova Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"
            (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form #categoryForm="ngForm">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="category.name"
                    #name="ngModel" value="category.name">
            </div>
            <div class="mb-3">
                <label for="color" class="form-label">Cor</label>
                <select class="form-control" name="color" id="color" [(ngModel)]="category.color" #color="ngModel">
                    <option [ngValue]="'primary'">Azul</option>
                    <option [ngValue]="'warning'">Amarelo</option>
                    <option [ngValue]="'danger'">Vermelho</option>
                    <option [ngValue]="'secondary'">Cinza</option>
                    <option [ngValue]="'dark'">Gráfite</option>
                    <option [ngValue]="'light'">Cinza Claro</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea class="form-control" name="descricao" id="descricao" rows="3"
                    [(ngModel)]="category.description" #description="ngModel" value="category.description"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" (click)="submit()">Cadastrar</button>
        </form>
    </div>
</div>