<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Nova Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"
            (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form #categoryForm="ngForm">
            <div class="mb-3">
                <label for="titulo" class="form-label">Nome</label>
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="category.name"
                    #title="ngModel" value="category.name">
            </div>
            <div class="mb-3">
                <label for="cor" class="form-label">Cor</label>
                <select class="form-control" name="cor" id="cor" [(ngModel)]="category.color" #color="ngModel"
                    value="category.color">
                    <option value="" selected disabled>Selecione...</option>
                    <option value="primary">Azul</option>
                    <option value="warning">Amarelo</option>
                    <option value="danger">Vermelho</option>
                    <option value="secondary">Cinza</option>
                    <option value="dark">Gráfite</option>
                    <option value="light">Cinza Claro</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea class="form-control" name="descricao" id="descricao" rows="3"
                    [(ngModel)]="category.description" #description="ngModel" value="category.description"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" (click)="submit()">Cadastrar</button>
        </form>
    </div>
</div>