<nav class="navbar bg-white p-3">
    <div class="container-fluid">
        <a class="navbar-brand">Taks Manager</a>
        <div class="dropdown">
            <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                <!-- <li><a class="dropdown-item" [routerLink]="['/state-list']">Estados</a></li>
                <li><a class="dropdown-item" [routerLink]="['/category-list']">Categorias</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li> -->
                <li><a class="dropdown-item text-danger" href="#">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>